.heroSection {
    padding: 80px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
    justify-content: flex-end;
    z-index: 1;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    height: 560px;
    z-index: -1;
    pointer-events: none;
}

.buttonWrapper {
    position: relative;
    z-index: 5;
}

.hrTop {
    position: absolute;
    left: 9px;
    top: -4px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 1.5px;
    height: 28px;
    transform: rotate(45deg);
    border: none;
}

.hrBottom {
    position: absolute;
    bottom: -3.7px;
    right: 9.7px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 1.5px;
    height: 28px;
    transform: rotate(225deg);
    border: none;
}

.btn {
    padding: 28px 96px;
    border: 2px solid;
    background-color: transparent;
    cursor: pointer;
    z-index: 6;
    position: relative;
    
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1px);

    border-image: linear-gradient(
            90.34deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 49.48%,
            rgba(255, 255, 255, 0.2) 100%
        )
        1;
    
    clip-path: polygon(
        20px 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%,
        0 20px
    );
}

.btnText {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    background: linear-gradient(
        90.92deg,
        #efebfd 0%,
        #dbedff 12.13%,
        #cef3ed 18.75%,
        #e1ebfe 25.57%,
        #fefefe 44.17%,
        #e8e7fd 70.83%,
        #c9e8fb 82.81%,
        #c4efd1 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.title {
    font-family: 'NeueMontreal';
    font-weight: 200;
    font-size: 84px;
    line-height: 105%;
    letter-spacing: 1%;
    z-index: 4;
    position: relative;
    text-align: center;
    max-width: 914px;
    background-color: transparent;
    margin-top: 8px;
}

.navigationBtn {
    margin-top: 40px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;

    padding: 22px;
    border: 2px solid hsla(225, 17%, 33%, 1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.navigationBtnIcon {
    max-width: 15px;
    max-height: 15px;
}