:root {
    --padding-block: 40px;
    --padding-inline: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsla(260, 8%, 7%, 1);
}

@media (max-width: var(--width-tablet)) {
    :root {
        --padding-block: 50px;
        --padding-inline: 60px;
    }
}
