.overlay {
    position: fixed;
    inset: 0;
    background: #000; 
    z-index: 20;
    width: 100vw;
    height: 100vh;
    top: -30px;
    left: -30px;
}

.modal {
    width: 100vw;
    height: 100vh;
    padding: 70px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeButton {
    max-width: 48px;
    max-height: 48px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 18px;
    top: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.closeButton:hover {
    background-color: rgb(58, 57, 57);
}

.closeButton img {
    width: 60%;
    height: 60%;
}